<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="30e82618-6739-4f86-beda-72a6bade63c4" Alias="Comment form">
  <Info>
    <Name>Comment form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">TY</MessageOnSubmit>
    <GoToPageOnSubmit>999a1b38-f9ed-49ee-9b42-c748f177ee1b</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows>
      <Workflow>
        <Id>8bb65f8c-5bfa-4dd9-b010-fec808de5f45</Id>
        <Name>Send eMail</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>e96badd7-05be-4978-b8d9-b3d733de70a5</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>0</SortOrder>
        <IsMandatory>false</IsMandatory>
        <Settings><![CDATA[{
  "Email": "forms@test.com",
  "CcEmail": "",
  "BccEmail": "",
  "SenderEmail": "no-reply@test.com",
  "ReplyToEmail": "",
  "Subject": "Comment",
  "Message": "Data:",
  "Attachment": "True"
}]]></Settings>
        <Condition><![CDATA[null]]></Condition>
      </Workflow>
    </Workflows>
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "49260c5b-455f-4cc0-9fde-7e6224915c0a",
        "page": "7772af65-ddfe-4daa-b294-449a1cbaf47e",
        "containers": [
          {
            "id": "dff2a2f0-0b54-40e5-a054-c5321ec0e488",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Animal",
                "tooltip": "",
                "cssClass": null,
                "alias": "animal",
                "id": "ed892d30-7494-4e62-be67-a3ea1531e40e",
                "fieldTypeId": "903df9b0-a78c-11de-9fc1-db7a56d89593",
                "prevalueSourceId": "Animals",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "9fa8a8c7-8641-4701-9620-16574935297c",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {
                  "DisplayLayout": "Horizontal",
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [],
                "allowedUploadTypes": [],
                "allowMultipleFileUploads": false
              },
              {
                "caption": "Comment",
                "tooltip": null,
                "cssClass": null,
                "alias": "comment",
                "id": "bc044157-57bf-462a-aa30-1730f6bb74c2",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Upload",
                "tooltip": "",
                "cssClass": null,
                "alias": "upload",
                "id": "0d0f140a-6e5a-4dc8-a302-cf998a53e912",
                "fieldTypeId": "84a17cf8-b711-46a6-9840-0e4a072ad000",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "437ecb31-d34e-4729-9ca7-1adb8cab0b97",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": [
                  {
                    "Type": "",
                    "Name": "Allow all files",
                    "Checked": "false"
                  },
                  {
                    "Type": "pdf",
                    "Name": "PDF",
                    "Checked": "true"
                  },
                  {
                    "Type": "docx",
                    "Name": "DOCX",
                    "Checked": "false"
                  },
                  {
                    "Type": "xlsx",
                    "Name": "XLSX",
                    "Checked": "false"
                  },
                  {
                    "Type": "txt",
                    "Name": "TXT",
                    "Checked": "false"
                  },
                  {
                    "Type": "png",
                    "Name": "PNG",
                    "Checked": "true"
                  },
                  {
                    "Type": "jpg",
                    "Name": "JPG / JPEG",
                    "Checked": "true"
                  },
                  {
                    "Type": "gif",
                    "Name": "GIF",
                    "Checked": "true"
                  }
                ],
                "allowMultipleFileUploads": false
              },
              {
                "caption": "Name",
                "tooltip": null,
                "cssClass": null,
                "alias": "name",
                "id": "3bd3fe20-db1e-4b67-8b45-561a4d124c8d",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "cssClass": null,
                "alias": "email",
                "id": "0c1dcb56-2d3a-4cad-9a60-79e52b29028d",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "^[_a-z0-9-]+(\\.[_a-z0-9-]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)*(\\.[a-z]{2,4})$",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "email"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "bd3363cf-a08e-4739-898b-5d18505770b3",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "Your comment",
    "sortOrder": 0,
    "id": "7772af65-ddfe-4daa-b294-449a1cbaf47e",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>