<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="6f4461ff-ee37-4ad7-96fb-7e18f9665857" Alias="Contact form">
  <Info>
    <Name>Contact form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>0</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Prev</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "11f5d2f4-8b94-4689-88a2-07c0d4ebd480",
        "page": "faa8d96d-9b59-43bc-a96b-b771133acc3d",
        "containers": [
          {
            "id": "f433d048-bf57-4db0-84fa-ee518acd0f32",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Name",
                "tooltip": null,
                "cssClass": null,
                "alias": "name",
                "id": "74e9df1d-81b8-4ee1-a41a-77cf36ac5f98",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "cssClass": null,
                "alias": "email",
                "id": "a634501f-b629-4e19-8ce8-addc740862a5",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "email"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Message",
                "tooltip": null,
                "cssClass": null,
                "alias": "message",
                "id": "e76aa7ae-79bb-4a37-975c-f8a197b22005",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "160a0ccc-4a95-4fa4-b068-9e2d92132578",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "Contact Us",
    "sortOrder": 0,
    "id": "faa8d96d-9b59-43bc-a96b-b771133acc3d",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>