<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="9a07651d-cb2e-4942-afa3-cd46e54b176e" Alias="Date Form">
  <Info>
    <Name>Date Form</Name>
    <FieldIndicationType>NoIndicator</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit />
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows>
      <Workflow>
        <Id>8de1ed40-9945-44d0-be75-a29695652eff</Id>
        <Name>Send template email to admin@admin.com</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <IsMandatory>false</IsMandatory>
        <Settings><![CDATA[{
  "Email": "admin@admin.com",
  "CcEmail": "",
  "BccEmail": "",
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted",
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "HeaderHtml": "",
  "BodyHtml": "",
  "FooterHtml": "",
  "Attachment": ""
}]]></Settings>
        <Condition><![CDATA[null]]></Condition>
      </Workflow>
    </Workflows>
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "81e4b0db-8843-4199-8b37-3177f312cc6b",
        "page": "6d5a79a1-509e-4ef8-9894-2d7c48c2c15b",
        "containers": [
          {
            "id": "3bf487ca-76ca-45f9-8151-a4cf8c480798",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Date",
                "tooltip": "",
                "cssClass": null,
                "alias": "date",
                "id": "75ffc6a1-85fd-40f8-9d6c-e1c464e3878f",
                "fieldTypeId": "f8b4c3b8-af28-11de-9dd8-ef5956d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "7348ef2d-9d04-4015-bcf7-0f2ecf5b448c",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": [],
                "allowMultipleFileUploads": false
              },
              {
                "caption": "Text",
                "tooltip": "",
                "cssClass": null,
                "alias": "text",
                "id": "ebf85fc5-4884-4018-899a-876a650979cc",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "42bb52fb-0b45-4f40-be36-f4e22539c645",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": [],
                "allowMultipleFileUploads": false
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "6d5a79a1-509e-4ef8-9894-2d7c48c2c15b",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>