<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9b6f2564-baf2-420c-a9b0-aec9143fe2e2" Alias="formPage" Level="1">
  <Info>
    <Name>Form Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>formPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="81cd89ab-f38c-4ae7-a052-61f850500dfd">formPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>08887616-95aa-4177-a8a1-599ed7e1d8ff</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>de357b6d-6d73-4ff6-b8ec-9f9117acc28a</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90e5f59e-b40a-4729-9ab4-ceaec76686b9</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>95f9e022-7455-4756-9011-0994906966fe</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>