<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95f9e022-7455-4756-9011-0994906966fe" Alias="Form Page - Theme - Theme Picker" Level="1">
  <Info>
    <Name>Form Page - Theme - Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.ThemePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>