<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eead09f-bb1a-41b0-bd9c-49b4814209e4" Alias="Copilot_20250627_130708.webp" Level="2">
  <Info>
    <Parent Key="4c320df9-6926-4e17-8c16-6462eda4e613">common</Parent>
    <Path>/common/Copilot_20250627_130708webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-15T18:12:01</CreateDate>
    <NodeName Default="Copilot_20250627_130708.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cankykdt/copilot_20250627_130708.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>