<?xml version="1.0" encoding="utf-8"?>
<Content Key="8821828e-a69b-46a1-ad65-54939b1fc4ad" Alias="Comment" Level="2">
  <Info>
    <Parent Key="d4e996e3-72ea-4b1f-92aa-22dd6874c946">Home</Parent>
    <Path>/Home/Comment</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-05-11T15:07:12</CreateDate>
    <NodeName Default="Comment">
      <Name Culture="en-US">Comment</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="9e17ba62-9692-4fd3-8aa4-a36bdf2a0d7a">form</Template>
  </Info>
  <Properties>
    <picker>
      <Value><![CDATA[30e82618-6739-4f86-beda-72a6bade63c4]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[default]]></Value>
    </theme>
  </Properties>
</Content>