<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6ebf641-c2d3-4e48-9a69-ac256d5700f2" Alias="Comment" Level="2">
  <Info>
    <Parent Key="0ac8d989-ebb3-46e3-b553-5ce9efc5d59b">Home</Parent>
    <Path>/Home/Comment</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-08-04T12:56:13</CreateDate>
    <NodeName Default="Comment" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="576ab5e7-778d-41db-bd0e-202789129918">form</Template>
  </Info>
  <Properties>
    <picker>
      <Value><![CDATA[30e82618-6739-4f86-beda-72a6bade63c4]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>