<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f1dbe70-fbf1-46fa-9527-354e7b4b2131" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d4e996e3-72ea-4b1f-92aa-22dd6874c946">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-05-11T14:44:16</CreateDate>
    <NodeName Default="Contact">
      <Name Culture="en-US">Contact</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="9e17ba62-9692-4fd3-8aa4-a36bdf2a0d7a">form</Template>
  </Info>
  <Properties>
    <picker>
      <Value><![CDATA[6f4461ff-ee37-4ad7-96fb-7e18f9665857]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[default]]></Value>
    </theme>
  </Properties>
</Content>