<?xml version="1.0" encoding="utf-8"?>
<Content Key="967c3cf9-6499-41f1-a86f-3e5eabf5c447" Alias="Contact" Level="2">
  <Info>
    <Parent Key="0ac8d989-ebb3-46e3-b553-5ce9efc5d59b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-08-04T12:06:16</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="576ab5e7-778d-41db-bd0e-202789129918">form</Template>
  </Info>
  <Properties>
    <picker>
      <Value><![CDATA[1e9eb01d-208c-45c3-88a9-3d2812cd9aa7]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[default]]></Value>
    </theme>
  </Properties>
</Content>