<?xml version="1.0" encoding="utf-8"?>
<Content Key="332a7a11-7ad2-4c08-abf5-42a9d58cb27c" Alias="Date" Level="2">
  <Info>
    <Parent Key="0ac8d989-ebb3-46e3-b553-5ce9efc5d59b">Home</Parent>
    <Path>/Home/Date</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-08-04T12:55:57</CreateDate>
    <NodeName Default="Date" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="576ab5e7-778d-41db-bd0e-202789129918">form</Template>
  </Info>
  <Properties>
    <picker>
      <Value><![CDATA[9a07651d-cb2e-4942-afa3-cd46e54b176e]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>