<?xml version="1.0" encoding="utf-8"?>
<Content Key="765824a2-2d79-4d74-984c-66913e5885f9" Alias="Date" Level="2">
  <Info>
    <Parent Key="d4e996e3-72ea-4b1f-92aa-22dd6874c946">Home</Parent>
    <Path>/Home/Date</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-05-13T17:22:32</CreateDate>
    <NodeName Default="Date">
      <Name Culture="de-DE">Datum</Name>
      <Name Culture="en-US">Date</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="9e17ba62-9692-4fd3-8aa4-a36bdf2a0d7a">form</Template>
  </Info>
  <Properties>
    <picker>
      <Value><![CDATA[9a07651d-cb2e-4942-afa3-cd46e54b176e]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[default]]></Value>
    </theme>
  </Properties>
</Content>