<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4e996e3-72ea-4b1f-92aa-22dd6874c946" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-11T14:43:56</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="fee70eb7-b5c4-41d9-b620-ee888b797552">page</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003EUmbraco \u0026amp; Umbraco Forms\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003Elaufen auf PostgreSQL mit dem \u003Cem\u003EPostgreSqlProvider \u003C/em\u003Evon Dirk Seefeld.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003EUmbraco \u0026amp; Umbraco Forms\u003C/strong\u003E \u003C/p\u003E\u003Cp\u003Ebased on PostgreSqlProvider by Dirk Seefeld.\u003C/p\u003E"
}]]></Value>
    </body>
  </Properties>
</Content>