<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4e996e3-72ea-4b1f-92aa-22dd6874c946" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-11T14:43:56</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="fee70eb7-b5c4-41d9-b620-ee888b797552">page</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003EUmbraco \u0026amp; Umbraco Forms\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003Elaufen auf PostgreSQL mit dem \u003Cem\u003EPostgreSqlProvider \u003C/em\u003Evon Dirk Seefeld.\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003EUmbraco \u0026amp; Umbraco Forms\u003C/strong\u003E \u003C/p\u003E\u003Cp\u003Ebased on PostgreSqlProvider by Dirk Seefeld.\u003C/p\u003E"
}]]></Value>
    </body>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e16b24c-e486-4934-8a9e-814c4f1c7c2b",
      "key": "77e4051c-69d3-4cd0-9d91-7beb4c6ca37e",
      "values": []
    },
    {
      "contentTypeKey": "750b43db-3f95-41e3-a53d-395f07e3e1a6",
      "key": "08e1f030-266f-46ba-86b3-2fbe3751518d",
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": "Moin PostgreSQL"
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Welcome PostgreSQL"
        }
      ]
    },
    {
      "contentTypeKey": "0ce2b9a3-c941-42dc-ad3c-c3bf9d175377",
      "key": "4be46285-6ac1-4ea3-9b8a-d7d20e1e558a",
      "values": []
    },
    {
      "contentTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
      "key": "c0bf8b6b-9844-436a-b8a8-fa3e3559f0d2",
      "values": [
        {
          "alias": "mediaItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "986b7c90-67d1-4e61-b5de-7ef5e3e95729",
              "mediaKey": "9eead09f-bb1a-41b0-bd9c-49b4814209e4",
              "mediaTypeAlias": "",
              "focalPoint": {
                "top": 0.35164384612055233,
                "left": 0.2507400366721077
              },
              "crops": [
                {
                  "label": "Square",
                  "alias": "1485x1485",
                  "width": 1485,
                  "height": 1485
                },
                {
                  "label": "Portrait",
                  "alias": "1050x1485",
                  "width": 1050,
                  "height": 1485
                },
                {
                  "label": "Landscape",
                  "alias": "1485x1050",
                  "width": 1485,
                  "height": 1050
                }
              ],
              "selectedCropAlias": "1485x1485"
            }
          ]
        },
        {
          "alias": "rotation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
      "key": "62796cdd-efc9-4093-aa18-1e488b97ce37",
      "values": [
        {
          "alias": "text",
          "culture": "de-DE",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EDrei verschiedene Formulare\u003C/p\u003E"
          }
        },
        {
          "alias": "text",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EThree different forms\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ff31323c-f9c3-4440-a3a6-0d0d3035ffce",
      "key": "3658403f-8b16-410d-beb7-ddb6665f432a",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#5c9aff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "bc878a9c-9539-4677-8171-408ef8b89659",
      "key": "30387919-ce4b-422e-8bbc-1bd20cd757a0",
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fee648"
          }
        },
        {
          "alias": "size",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "h1"
        }
      ]
    },
    {
      "contentTypeKey": "ff31323c-f9c3-4440-a3a6-0d0d3035ffce",
      "key": "a10efbee-8868-47b3-b054-adf93a7ab908",
      "values": []
    },
    {
      "contentTypeKey": "ca0462e0-57ef-47aa-a177-e7ddbf05ef22",
      "key": "398ae317-ca92-4678-94e3-790800c8b21b",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "77e4051c-69d3-4cd0-9d91-7beb4c6ca37e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "08e1f030-266f-46ba-86b3-2fbe3751518d",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "4be46285-6ac1-4ea3-9b8a-d7d20e1e558a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c0bf8b6b-9844-436a-b8a8-fa3e3559f0d2",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "62796cdd-efc9-4093-aa18-1e488b97ce37",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "08e1f030-266f-46ba-86b3-2fbe3751518d",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "62796cdd-efc9-4093-aa18-1e488b97ce37",
      "culture": "de-DE",
      "segment": null
    },
    {
      "contentKey": "c0bf8b6b-9844-436a-b8a8-fa3e3559f0d2",
      "culture": "de-DE",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "08e1f030-266f-46ba-86b3-2fbe3751518d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "30387919-ce4b-422e-8bbc-1bd20cd757a0",
                "settingsUdi": null
              }
            ],
            "key": "c099ab75-cc6e-43b1-9991-373c32c064f8"
          }
        ],
        "columnSpan": 12,
        "contentKey": "77e4051c-69d3-4cd0-9d91-7beb4c6ca37e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3658403f-8b16-410d-beb7-ddb6665f432a",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "62796cdd-efc9-4093-aa18-1e488b97ce37",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "398ae317-ca92-4678-94e3-790800c8b21b",
                "settingsUdi": null
              }
            ],
            "key": "dc98a71c-5df6-4578-9303-e950edd10f32"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "contentKey": "c0bf8b6b-9844-436a-b8a8-fa3e3559f0d2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a708bfed-8e15-468b-a8e9-055db5a93190"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4be46285-6ac1-4ea3-9b8a-d7d20e1e558a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a10efbee-8868-47b3-b054-adf93a7ab908",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>