<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ac8d989-ebb3-46e3-b553-5ce9efc5d59b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-04T12:04:10</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dabbdec-6158-496a-905f-04b99e8b4e67">page</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003EWelcome\u003C/strong\u003E\u003C/p\u003E"
}]]></Value>
    </body>
  </Properties>
</Content>