<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdc10d1c-1146-447a-9dca-0b32cd5aa590" Alias="Shop" Level="2">
  <Info>
    <Parent Key="d4e996e3-72ea-4b1f-92aa-22dd6874c946">Home</Parent>
    <Path>/Home/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>store</ContentType>
    <CreateDate>2026-07-02T13:10:53</CreateDate>
    <NodeName Default="Shop" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f22f3-1af7-7510-9e61-318b99e630ae">Store</Template>
  </Info>
  <Properties>
    <storePicker>
      <Value><![CDATA[7f21a969-7d2d-48d4-afcb-019f1e8254be]]></Value>
    </storePicker>
  </Properties>
</Content>