<?xml version="1.0" encoding="utf-8"?>
<Content Key="999a1b38-f9ed-49ee-9b42-c748f177ee1b" Alias="Thank You" Level="3">
  <Info>
    <Parent Key="8821828e-a69b-46a1-ad65-54939b1fc4ad">Comment</Parent>
    <Path>/Home/Comment/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-11T15:07:34</CreateDate>
    <NodeName Default="Thank You">
      <Name Culture="en-US">Thank You</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="fee70eb7-b5c4-41d9-b620-ee888b797552">page</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003EThank you very much!\u003C/strong\u003E\u003C/p\u003E"
}]]></Value>
    </body>
  </Properties>
</Content>