<?xml version="1.0" encoding="utf-8"?>
<Content Key="eaed4585-49cc-4329-aa00-5d910fe1aa4e" Alias="Thanks" Level="3">
  <Info>
    <Parent Key="967c3cf9-6499-41f1-a86f-3e5eabf5c447">Contact</Parent>
    <Path>/Home/Contact/Thanks</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-04T12:06:50</CreateDate>
    <NodeName Default="Thanks" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dabbdec-6158-496a-905f-04b99e8b4e67">page</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
  </Properties>
</Content>