<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6472e6c5-81eb-43f2-ba96-e5abe2bfce4c" Alias="Thank you" Level="0">
  <Info />
  <Translations>
    <Translation Language="de-DE">Vielen Dank</Translation>
    <Translation Language="en-US">Thank you</Translation>
  </Translations>
</Dictionary>