<?xml version="1.0" encoding="utf-8"?>
<DataType Key="786a5f4b-9661-40fa-87f4-e9058fe340be" Alias="Store - Store Picker - Umbraco Commerce: Store Picker" Level="1">
  <Info>
    <Name>Store - Store Picker - Umbraco Commerce: Store Picker</Name>
    <EditorAlias>Umbraco.Commerce.StorePicker</EditorAlias>
    <EditorUIAlias>Uc.PropertyEditorUi.StorePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>