<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50b3f01f-8e13-4ae7-93d2-63740719a43b" Alias="wysiwg65_HeadlineSizes" Level="2">
  <Info>
    <Name>wysiwg65_HeadlineSizes</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3"
  ]
}]]></Config>
</DataType>