<?xml version="1.0" encoding="utf-8"?>
<DataType Key="038b9033-e148-4bd3-8f53-f3cf0283f8b8" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "8596d39f-b9ca-4e84-bb45-18368f4c8a42"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "750b43db-3f95-41e3-a53d-395f07e3e1a6",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "bc878a9c-9539-4677-8171-408ef8b89659",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "ca0462e0-57ef-47aa-a177-e7ddbf05ef22",
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": null,
      "groupKey": null,
      "areas": []
    },
    {
      "contentElementTypeKey": "2e16b24c-e486-4934-8a9e-814c4f1c7c2b",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ff31323c-f9c3-4440-a3a6-0d0d3035ffce",
      "groupKey": "8596d39f-b9ca-4e84-bb45-18368f4c8a42",
      "areas": [
        {
          "key": "c099ab75-cc6e-43b1-9991-373c32c064f8",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "9a02bf06-45f3-48be-ba8a-068d6be2b93d",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ff31323c-f9c3-4440-a3a6-0d0d3035ffce",
      "groupKey": "8596d39f-b9ca-4e84-bb45-18368f4c8a42",
      "areas": [
        {
          "key": "faf30b64-c3d2-4625-8afe-9cfcab380a15",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "5fa1f8a5-ba5f-480f-9450-9567228f1305",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "6b45db17-7ec3-47af-8759-10f7f7acb55a",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ff31323c-f9c3-4440-a3a6-0d0d3035ffce",
      "groupKey": "8596d39f-b9ca-4e84-bb45-18368f4c8a42",
      "areas": [
        {
          "key": "e10cbb36-0c11-45de-9c08-0dc3b766b4f0",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "5be4d1f5-b565-4a2c-a52f-48ce5d4cdfef",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
              "minAllowed": 0
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "0ce2b9a3-c941-42dc-ad3c-c3bf9d175377",
      "allowAtRoot": true,
      "allowInAreas": false,
      "settingsElementTypeKey": "ff31323c-f9c3-4440-a3a6-0d0d3035ffce",
      "groupKey": "8596d39f-b9ca-4e84-bb45-18368f4c8a42",
      "areas": [
        {
          "key": "dc98a71c-5df6-4578-9303-e950edd10f32",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
              "minAllowed": 0
            }
          ]
        },
        {
          "key": "a708bfed-8e15-468b-a8e9-055db5a93190",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "elementTypeKey": "0b1d00cc-8114-43c3-af26-50404af6dbe2",
              "minAllowed": 0
            },
            {
              "elementTypeKey": "9b520e18-164b-4455-9522-d33bbcc70164",
              "minAllowed": 0
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/wysiwyg-blockgrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>