<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76ecfc2f-7b32-4e83-903e-bd1def5e0b21" Alias="wysiwg65_LimitedHeadline" Level="2">
  <Info>
    <Name>wysiwg65_LimitedHeadline</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>