<?xml version="1.0" encoding="utf-8"?>
<DataType Key="491c8d3f-eaf8-457c-bed5-4647ffd167ff" Alias="wysiwg65_BlockGrid" Level="2">
  <Info>
    <Name>wysiwg65_BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layouts",
      "key": "ef477c5b-c643-4310-aa68-bab57e58b26c"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "9b3ddcf4-fed5-4cfa-8f09-6bdd7cf33628",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "a64c39f5-d94c-49bb-bdad-6eb64d1dc825"
    },
    {
      "contentElementTypeKey": "f69f8650-1797-40a0-87e3-624fabac1e25",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "b043c5ac-7393-4a22-90cf-2be5ce481595"
    },
    {
      "contentElementTypeKey": "05bd523c-7138-4c8d-a288-059cbf439100",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e2397a7d-7bbe-421b-b723-a8e8ed7ec2dc",
      "allowAtRoot": false,
      "allowInAreas": true,
      "settingsElementTypeKey": "d25a834d-bfc1-4d57-9425-b06bce83aa05"
    },
    {
      "contentElementTypeKey": "f7577081-a4d4-413d-84e4-94a4d884aa1e",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "ef477c5b-c643-4310-aa68-bab57e58b26c",
      "settingsElementTypeKey": "a56ac51c-4804-4bd5-b817-6643a49c9a7e",
      "areas": [
        {
          "key": "334d3359-73f4-43a1-9c3b-6a930988a1b5",
          "alias": "Full Row",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b330a4d3-b608-4ed4-b9f0-0c5c09198d86",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "ef477c5b-c643-4310-aa68-bab57e58b26c",
      "settingsElementTypeKey": "a56ac51c-4804-4bd5-b817-6643a49c9a7e",
      "areas": [
        {
          "key": "69ecca4e-50f2-4207-a6ee-6ec1e553585e",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "f69f8650-1797-40a0-87e3-624fabac1e25"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "05bd523c-7138-4c8d-a288-059cbf439100"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "e2397a7d-7bbe-421b-b723-a8e8ed7ec2dc"
            }
          ]
        },
        {
          "key": "84217f1e-b625-42e9-98aa-38c35b17f55d",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "f69f8650-1797-40a0-87e3-624fabac1e25"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "05bd523c-7138-4c8d-a288-059cbf439100"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "e2397a7d-7bbe-421b-b723-a8e8ed7ec2dc"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "f49b4108-b807-44f3-9237-a4071e8f7c41",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "ef477c5b-c643-4310-aa68-bab57e58b26c",
      "settingsElementTypeKey": "a56ac51c-4804-4bd5-b817-6643a49c9a7e",
      "areas": [
        {
          "key": "060384f5-3e44-447a-9e22-0bec44136451",
          "alias": "left",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "f69f8650-1797-40a0-87e3-624fabac1e25"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "05bd523c-7138-4c8d-a288-059cbf439100"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "e2397a7d-7bbe-421b-b723-a8e8ed7ec2dc"
            }
          ]
        },
        {
          "key": "8f51de66-5986-42e1-b9c6-fe1d68f8f2a4",
          "alias": "right",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "f69f8650-1797-40a0-87e3-624fabac1e25"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "05bd523c-7138-4c8d-a288-059cbf439100"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "e2397a7d-7bbe-421b-b723-a8e8ed7ec2dc"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "6d6c0a78-00c3-4797-9be6-2d2a3131cb71",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "ef477c5b-c643-4310-aa68-bab57e58b26c",
      "settingsElementTypeKey": "a56ac51c-4804-4bd5-b817-6643a49c9a7e",
      "areas": [
        {
          "key": "bf7c5e49-b0ee-424f-a20a-0f41dd2778a1",
          "alias": "left",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "f69f8650-1797-40a0-87e3-624fabac1e25"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "05bd523c-7138-4c8d-a288-059cbf439100"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "e2397a7d-7bbe-421b-b723-a8e8ed7ec2dc"
            }
          ]
        },
        {
          "key": "915e8c12-be3e-4adc-be78-fae74e8e73b3",
          "alias": "right",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "elementTypeKey": "f69f8650-1797-40a0-87e3-624fabac1e25"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "05bd523c-7138-4c8d-a288-059cbf439100"
            },
            {
              "minAllowed": 0,
              "elementTypeKey": "e2397a7d-7bbe-421b-b723-a8e8ed7ec2dc"
            }
          ]
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/styles/wysiwyg-blockgrid.min.css",
  "maxPropertyWidth": "1204px"
}]]></Config>
</DataType>