<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8ada19c-9df4-4ddd-bc9f-a9b1694f0f5b" Alias="wysiwg65_HeadlineSizes" Level="2">
  <Info>
    <Name>wysiwg65_HeadlineSizes</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Wysiwg65_DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3"
  ]
}]]></Config>
</DataType>