<?xml version="1.0" encoding="utf-8"?>
<Content Key="03208fb5-62ea-4290-8955-f2950ff33408" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2026-07-31T14:38:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81cd89ab-f38c-4ae7-a052-61f850500dfd">formPage</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[b277d955-e9bb-4ba6-bf1c-9c6cc51e2162]]></Value>
    </form>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>