<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb887362-1a75-4151-8838-7bf84a4430ce" Alias="form" Level="1">
  <Info>
    <Name>Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>form</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9e17ba62-9692-4fd3-8aa4-a36bdf2a0d7a">form</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="492531c6-0654-47a8-8ab2-4d875eb6ecd6" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5a9b36f3-234d-4fe1-a193-679b3d228182</Key>
      <Name>Picker</Name>
      <Alias>picker</Alias>
      <Definition>89c8dd05-41be-49a7-87b4-f4bf5833e796</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07ecdb1f-ca37-4d67-b9cd-1fff67d9dba7</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>2c20bb47-61fc-40f2-b49f-a5829e94842a</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>