<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2eeae58-4026-438a-9b7f-382415b6b8e2" Alias="form" Level="1">
  <Info>
    <Name>Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>form</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="576ab5e7-778d-41db-bd0e-202789129918">form</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="82ad6d26-70a0-4fce-8273-2753af3dc6e5" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>68f00d44-fcf3-4c41-8c44-dff3d0cdb5b3</Key>
      <Name>Picker</Name>
      <Alias>picker</Alias>
      <Definition>e6404216-deed-4a7a-8fb9-bf857e9d8055</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c07a8eb-f163-4727-b242-e787a578ca16</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>26c5b316-9a9e-4288-8666-6a8d93fc8f90</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>