<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="492531c6-0654-47a8-8ab2-4d875eb6ecd6" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fee70eb7-b5c4-41d9-b620-ee888b797552">page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cb887362-1a75-4151-8838-7bf84a4430ce" SortOrder="0">form</ContentType>
    <ContentType Key="492531c6-0654-47a8-8ab2-4d875eb6ecd6" SortOrder="1">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f2c29e49-c32e-4866-a119-55bcc5576623</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>