<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="82ad6d26-70a0-4fce-8273-2753af3dc6e5" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8dabbdec-6158-496a-905f-04b99e8b4e67">page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="82ad6d26-70a0-4fce-8273-2753af3dc6e5" SortOrder="0">page</ContentType>
    <ContentType Key="e2eeae58-4026-438a-9b7f-382415b6b8e2" SortOrder="1">form</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fa6b00f8-55f1-4577-abb5-3f65abb70afc</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>