<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24cd6438-eae9-4b9e-aae1-2979f19f073f" Alias="store" Level="1">
  <Info>
    <Name>Store</Name>
    <Icon>icon-store color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Store</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019f22f3-1af7-7510-9e61-318b99e630ae">Store</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>45136b76-ef00-49c0-9b9a-4a4b1367443c</Key>
      <Name>Store Picker</Name>
      <Alias>storePicker</Alias>
      <Definition>786a5f4b-9661-40fa-87f4-e9058fe340be</Definition>
      <Type>Umbraco.Commerce.StorePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>